/*!

=========================================================
Application's reset css values
=========================================================
 */
.hidden {
  display: none !important;
}

.visible {
  /* inherit default display styles */
}

.footer {
  background: #FFFFFF !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
